body {
  margin: 0;
  padding: 0;
}
.kbnav-ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 80px;
  background-color: black;
  text-align: center;
}
.kbnav-ul li {
  text-align: center;
  margin: 8px 0;
}
.kbnav-ul li a {
  flex-direction: column;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.kbnav-ul li a:hover, .kbnav-ul li a.kbnav-active {
  background-color: white;
  color: red;
  
}
.kbnav-fa {
  color: red;
  
}
.kbnav-user {
  color: grey;
}
